setuptools
lingua-language-detector
unidecode
pykakasi
pinyin
wheel
pydub
yt-dlp
tempora==1.14.0
jaraco.functools==2.0
six
Flask
flask-sock
pillow
qrcode
pygame==2.5.2
futures
psutil 
unidecode
requests
arabic-reshaper
python-bidi
flask-paginate==2021.10.29
flask==2.3.1
numpy==1.26.4
torch>=1.5.1
tqdm>=4.30
librosa==0.10.0
pip
soundfile
spec_utils
