<!DOCTYPE html>
<html>

<head>
  {% if title %}
  <title>{{site_title}} - {{ title }}</title>
  {% else %}
  <title>{{site_title}}</title>
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/static/jquery-3.3.1.min.js"></script>
  <script src="/static/jquery-ui.min.js"></script>
  <script src="/static/js.cookie-2.2.1.min.js"></script>
  <script src="/static/lodash.min.js"></script>
  <link rel="stylesheet" href="/static/jquery-ui.min.css">
  <link rel="stylesheet" href="/static/bulma-dark.css">
  <link rel="stylesheet" href="/static/custom.css">
  <link rel="icon" type="image/png" href="/static/images/microphone.png">
  <!-- <link rel="stylesheet" href="{{  url_for('static', filename='fontello/css/fontello.css') }}"> -->
  <link rel="stylesheet" href="/static/fontello/css/fontello.css?cachebust=1">

  <script>

    function showNotification(message, categoryClass, timeout=3000) {
      console.log("Showing notification")
      $("#notification-alt").addClass(categoryClass)
      $("#notification-alt div").text(message)
      $("#notification-alt").fadeIn()
      setTimeout(function () {$("#notification-alt").fadeOut()}, timeout)
      setTimeout(function () {$("#notification-alt").removeClass(categoryClass)}, timeout + 750)
    }
    
    function setLanguage(lang, reload){
      Cookies.set("lang", lang, { expires: 3650 });
      if(reload){
        window.scrollTo(0, 0);
        location.reload();
      }
    }

    $(function () {
      $("#notification-close").click(function () {
        $(".notification").hide();
      });
      $("#notification-alt").hide()

      // Check for click events on the navbar burger icon
      $(".navbar-burger").click(function () {
        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");
      });


      // handle highlighting current nav bar location
      var currentPath = window.location.pathname;
      if (currentPath == "/") {
        $("#home").addClass("is-active")
      }
      if (currentPath == "/queue") {
        $("#queue").addClass("is-active")
      }
      if (currentPath == "/search") {
        $("#search").addClass("is-active")
      }
      if (currentPath == "/browse") {
        $("#browse").addClass("is-active")
      }
      if (currentPath == "/info") {
        $("#info").addClass("is-active")
      }

      // handle auto-close flash notifications
      setTimeout(function() { $("#notification").fadeOut()}, 3000);

      // handle current user display
      var currentUser = Cookies.get("user");
    
      if (currentUser) {
        $("#current-user span").text(currentUser)
        $("#current-user").removeClass("is-hidden");
      };

      $('#current-user').click(function(e) {
        e.preventDefault();
        let name = window.prompt(
          "{{getString1(133)}}" + currentUser
        );
        if (name) {
          Cookies.set("user", name, { expires: 3650 })
        }
        location.reload();
      });
      
      // handle browser language
      var currentLang = Cookies.get("lang");
      if(!currentLang){
        currentLang = window.navigator.language;
        setLanguage(currentLang, false);
      }

      $('#current-lang').click(function(e) {
        e.preventDefault();
        $.get('/get_lang_list').done(function(lang_json){
          var lang_dict = JSON.parse(lang_json);
          var popup_html = '';
          for(var lang1 in lang_dict)
            popup_html += `<input type="radio" onclick="setLanguage('${lang1}', true);">&nbsp;${lang_dict[lang1]}<br>`;
          var popUpList = $(`<div title="{{getString1(185)}}">${popup_html}</div>`)
          popUpList.dialog();
        });
      });
    });
  </script>
  {% block scripts %}
  {% endblock %}
</head>

<style>
  .navbar-item > i {
    margin-right: 2px;
  }
  .notification {
    position: fixed;
    width: 500px;
    bottom: 5px;
    left: 50%;
    margin-left: -250px;
    z-index: 20;
  }
  .current-user {
    position: fixed;
    padding: 3px;
    bottom: 5px;
    right: 10px;
  }
  tr:nth-child(even) {
    background-color: rgb(50, 55, 55);
  }
  @media screen and (max-width: 500px) {
    .navbar-brand > .navbar-item > span {
      display: none;
    }
    .notification {
      position: fixed;
      width: 100%;
      bottom: 5px;
      left: 0px;
      margin-left: 0px;
    }
    body {
      min-height: 120vh;
    }
  }
</style>

<body>

  {% if not blank_page %}
  <div class="container" style="padding: 5px; max-width: 900px;">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand" id="brand" style="padding-left: 10px">
        <a id="home" class="navbar-item" href="{{ url_for('home') }}">
          <i class="icon icon-home-2" title="{{getString1(183)}}"></i>
          <span>{{getString1(183)}}</span>
        </a>

        <a id="queue" class="navbar-item" href="{{ url_for('queue') }}">
          <i class="icon icon-list-numbered" title="{{getString1(112)}}"></i>
          <span>{{getString1(112)}}</span>
        </a>
        <a id="search" class="navbar-item" href="{{ url_for('search') }}">
          <i class="icon icon-search-1" title="{{getString1(118)}}"></i>
          <span>{{getString1(118)}}</span>
        </a>
        <a id="browse" class="navbar-item" href="{{ url_for('browse') }}">
          <i class="icon icon-folder-open-empty" title="{{getString1(98)}}"></i>
          <span>{{getString1(98)}}</span>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" id="menu">
        <div class="navbar-end">
          <a id="current-user" class="navbar-item is-hidden" href="#">
            <i class="icon icon-mic-1" title="{{getString1(134)}}"></i>
            <span></span>
          </a>
          <a id="current-lang" class="navbar-item" href="#">
            <i class="icon icon-globe" title="{{getString1(184)}}"></i>
            <span>{{getString1(1)}}</span>
          </a>
          <a id="info" class="navbar-item" href="{{ url_for('info') }}">
            <i class="icon icon-cog" title="{{getString1(135)}}"></i>
            <span>{{getString1(136)}}</span>&nbsp;&nbsp;
          </a>
        </div>
      </div>
    </nav>

    {% if get_flashed_messages() %}
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div id="notification" class="notification {{category}}">
      <button id="notification-close" class="delete"></button>
      <div class="flash">{{ message }}</div>
    </div>
    {% endfor %}
    {% endif %}

    <!-- Alternate notification for js-fired notifications using showNotification -->
    <div id="notification-alt" class="notification">
      <button id="notification-close" class="delete"></button>
      <div class="flash"></div>
    </div>

    <div class="box" style="margin-top: 5px;">
      <header class="title">
        {% block header %}{% endblock %}
      </header>
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
  {% endif %}
  {% block body %}
  {% endblock %}

</body>

</html>
